<launch>

    <!-- start yaml -->
    <rosparam file="$(find orochi_gazebo)/config/orochi_gazebo_control1.yaml" command="load"/>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" ns="/orochi" args="joint_state_controller
                                          joint_1_position_controller
                                          joint_2_position_controller
                                          joint_3_position_controller
                                          joint_4_position_controller
                                          joint_5_position_controller
                                          joint_6_position_controller"/>

    <!-- convert joint states to TF transforms for rviz, etc  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
          respawn="false" output="screen">
        <remap from="/joint_states" to="/orochi/joint_states" />
    </node>

</launch>


