<launch>
  
    <!-- Launch Gazebo  -->
    <include file="$(find orochi7_gazebo)/launch/orochi_world.launch" />

    <!-- ros_control arm launch file -->
    <include file="$(find orochi7_gazebo)/launch/orochi_gazebo_states.launch" />   

    <!-- ros_control trajectory control dof arm launch file -->
    <include file="$(find orochi7_gazebo)/launch/orochi_trajectory_controller.launch" />

    <!-- moveit launch file -->
    <include file="$(find orochi7_moveit_config)/launch/moveit_planning_execution.launch" />

</launch>
